bondpy==1.8.6
certifi==2023.7.22
charset-normalizer==3.2.0
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
dynamic-reconfigure==1.7.3
idna==3.4
message-filters==1.16.0
PyMySQL==1.1.0
python-qt-binding==0.4.4
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
redis==5.0.0
requests==2.31.0
resource_retriever==1.12.7
rqt-image-view==0.4.17
schedule==1.2.0
smach==2.5.1
smach-ros==2.5.1
smclib==1.8.6
toml==0.10.2
topic-tools==1.16.0
urllib3==2.0.4
xacro==1.14.16
